<p id="notice"><%= notice %></p>

<h3>Rounds</h3>

<%= link_to 'Active Players', players_path %>
<%= link_to 'Inactive Players', players_path %>
<%= link_to 'Force Round', new_round_path %>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Bet Amount</th>
      <th>Bet Value</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
    <!--Need to cycle through rounds in the round_player table-->
    <% @rounds.each do |rp| %>
      <tr>
        <td><%= rp.id %></td>
      </tr>
    <% end %> 
  </tbody>
</table>





