<p id="notice"><%= notice %></p>

<h3>Rounds</h3>

<%= link_to 'Active Players', players_path %>
<%= link_to 'Inactive Players', players_path %>
<%= link_to 'Force Round', new_round_path %>

<tbody>
  <% @rounds.each do |r| %>
    <table>
      <thead>
        <tr>
          <th>Round: <%= r.id   %></th>
          <th>Roulette color: <%= r.result%></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <table>
        
        <% r.round_players.each do |rp| %>
          <tr>
            <td><%= "Player: #{@players.where(id: rp.player_id).name}" %></td>
            <td><%= "Color: #{rp.bet_value}" %></td>
            <td><%= "Bet: #{rp.bet_amount}" %></td>
            <td><%= "Result: #{rp.player}" %></td>
            <td><%= "Player: #{rp.player}" %></td>
          </tr>
        <% end %>
        
      </table>
    </table>
  <% end %> 
</tbody>






