<p id="notice"><%= notice %></p>

<h3>Rounds</h3>

<%= link_to 'See Players', players_path %>


<% @rounds.each do |r| %>
  <table>
    <thead>
      <tr>
        <th>Round: <%= r.id   %></th>
        <th>Color: <%= r.result%></th>
      </tr>
    </thead>
    <table>
      <% i = 0 %>
      <% r.round_players.each do |rp| %>
        <tr>          
          <% if rp.player_id != nil%>
            <td><%= "Player: #{rp.bet_name}" %></td>
            <td><%= "Color: #{rp.bet_value}" %></td>
            <td><%= "Bet: #{rp.bet_amount}" %></td>
            <% if rp.bet_result == "Big winner" %>
              <% br = rp.bet_amount*14 %>
              <td><%= "Won: #{br}" %></td>
            <% elsif rp.bet_result == "Winner" %>
              <td><%= "Won: #{rp.bet_amount}" %></td>
            <% else %>
              <td><%= "Lost: #{rp.bet_amount}" %></td>
            <% end %>
            <td><%= "Player Money: #{rp.round_money}" %></td>
            <% i += 1 %>
          <% end %>          
        </tr>
      <% end %>
      <tr>
        <% if i == 0 %>
              <%= "No active players" %>
        <% end %>
      </tr>
    </table>
  </table>
<% end %>






